.c-grid {
	display: grid;
	height: 100vh;
	overflow-x: hidden;
	grid-template:
		"head" 1.5fr
		"main"1fr
		"footer" 100px
		/ 100%;
	&__head{
		grid-area: head;
	}
	&__front {
		grid-area: main;
		width: 100%;
	}
	&__page {
		@extend .c-grid__front;
	}
	&__footer {
		grid-area: footer;
	}
}
