.c-icon {
	// background-color: rgba(255, 255, 255, 0.5);
	&--html {
		fill: #e34f26;
		stroke: #fff;
		stroke-width: 0.5px;
	}

	&--css {
		fill: #1572b6;
		stroke: #fff;
		stroke-width: 0.5px;
	}

	&--sass {
		fill: #cd6799;
	}

	&--wordpress {
		fill: #0087be;
		stroke: #fff;
		stroke-width: 0.5px;
	}

	&--gulp {
		fill: #e34f26;
	}

	&--webpack {
		stroke: #fff;
	}
}
