.p-skill {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	width: 75%;
	margin: auto;
  height: auto;
	&__card {
		height:200px;
		background-color: #fff;
		outline: 1px solid #000;
	
	}
}

