
// button {
//   cursor: pointer;
//   padding: 8px 16px;
//   margin: 10px 5px;
// }

// .controls {
//   position:absolute;
//   bottom:0;
//   width:100vw;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 70px;
//   min-height: 70px; 
//   z-index:100;
  
// }

// .slides-container {
//   position: relative;
//   overflow: hidden;  
//   display: flex;
//   flex: 1;
//   height: 100vh;
//   width:100vw;
//   float:left;
// }

// .slides-container2 {
//   position: relative;
//   overflow: hidden;  
//   display: flex;
//   flex: 1;
//   height: 100vh;
//   width:100vw;
//   float:left;
// }

// .slide {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   width:100vw;
// }



// .slides-inner {
//   position: absolute;
//   left:0;
//   height: 100vh;
//   width:100vw;
//   overflow: hidden;
// }

// .caption3 {
// position:absolute; opacity:0; display:none;
// }

// .captioner {
// position:fixed; bottom:0; left:0;  margin-left:2.5vw; z-index:1; display:flex; align-items:flex-end; -webkit-transform: translateZ(0);
// -webkit-backface-visibility: hidden;
//  }
